.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &.zoomed {
    .backgroundImage {
      transform: scale(0.95);
    }

    .content {
      transform: scale(0.9);
    }
  }

  &.zoomedIn {
    .backgroundImage {
      transform: scale(4) translateY(10vh);
      filter: brightness(3);
      transition: transform 1.2s ease-in-out, filter 1.2s ease-in-out;
      animation: whiteToBlack 2s forwards;
      animation-delay: 1.2s; 
    }

    .content {
      transform: scale(20);
      transition: transform 3.0s ease-in-out;
    }
  }
}

@keyframes whiteToBlack {
  0% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(0);
  }
}

.backgroundImage {
  position: absolute;
  top: -5vh;
  left: -5vw;
  width: 110%;
  height: 110%;
  background-image: url('../../public/background.webp');
  background-size: cover;
  background-position: center;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  animation: strobe 5s infinite;
}

@keyframes strobe {
  0%, 100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.35);
  }
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;

  div {
    background-color: black;
    width: 30%;
    height: 15%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-top: 1%;
    transition: transform 3.0s ease-in-out;

    h1 {
      color: red;
      font-size: 9vmin;
      font-family: 'Great Vibes', sans-serif;
      margin-right: 3%;
      margin-top: 3%;
      align-self: center;
    }
  }
}

.play {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: black;
  font-family: 'Roboto';
  font-size: 8vmin;
  height: 10%;
  width: 20%;
  border-radius: 50px;
  border: none;
  margin-top: 30%;
  transition: box-shadow 0.3s, transform 3.0s ease-in-out;

  &:active {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 1);
    transform: scale(0.95);
  }
}

.link{
  color: red;
  font-size: 3vh;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 1%;
  margin-bottom: 0.5%;
  font-family: 'Great Vibes';

  a{
    text-decoration: underline;
  }
}

.mobileSection{
  display: none;
}

@media screen and (max-width: 768px) {
  .main {
    .backgroundImage,
    .content {
      display: none;
    }
  }

  .mobileSection {
    display: flex;
    position: relative;
    z-index: 2;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;

    img{
      width: 100%;
      height: 30%
    }
  }
}