.infoIcon {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2vw;
      height: 2vw;
      border-radius: 50%;
      background-color: white;
      color: black;
      font-size: 1.5vw;
      font-weight: bold;
    }
  
    &::before {
      content: attr(data-tooltip);
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      padding: 5px 10px;
      background-color: #000;
      color: #fff;
      font-size: 12px;
      border-radius: 4px;
      white-space: nowrap;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease;
      z-index: 999;
    }
  
    &:hover::before {
      opacity: 1;
      visibility: visible;
    }
  }